#heading1{
  background-color: blue;
  font-size: 24px;    /* size of text */
  font-weight: bold;  /* thickness of text */
  color: white;       /* text color */
}

#pera{
color: rgb(255, 230, 0);
font-style: italic;
background-color: rgb(190, 4, 4);
font-size: 20px;
}